<!-- lazy load after 2 seconds -->
<!-- @defer (on timer(2s)){
	<app-header></app-header> 
} -->

<!-- lazy load on interaction:
	interaction will trigger the deferred block when the user interacts with the specified element 
	through click or keydown events. By default, the placeholder will act as the interaction element 
	as long as it is a single root element node.
-->
<!-- @defer (on interaction) {
	<app-header></app-header> 
} @placeholder {
	<div>Calendar placeholder</div>		
} -->

<!-- Prefetch on Idle
trigger the deferred loading once the browser has reached an idle state 
(detected using the requestIdleCallback API under the hood). 
This is the default behavior with a defer block.
viewport would trigger the deferred block when the specified content enters the viewport using the 
IntersectionObserver
API. This could be the placeholder content or an element reference.
By default, the placeholder will act as the element watched for entering viewport 
as long as it is a single root element node.
-->
<!-- @defer (on viewport; prefetch on timer(2000)) { -->
<!-- @defer (on viewport; prefetch on idle) {
	<app-header></app-header> 
} @placeholder (minimum 2100ms) {
	<p>loading...</p>
} -->

<!-- Render "on" user ineraction...fetch resources (prefetch) when browser becomes idle -->
@defer (on interaction; prefetch on idle) {
<app-header></app-header>
} @placeholder {
<p> prefetch placeholder </p>
} @error {
<p> error placeholder </p>
}

<app-main></app-main>




<router-outlet />